{
  "$schema": "http://json.schemastore.org/prettierrc",
  "plugins": ["@prettier/plugin-xml"],
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ],
  "xmlWhitespaceSensitivity": "ignore"
}
