name: Dotnet

on:
  pull_request:
    branches: [main]

env:
  # renovate: datasource=dotnet-version depName=dotnet-sdk
  DOTNET_VERSION: "10.0.100"

jobs:
  format:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GIT_AUTO_COMMIT_ACTION_CHECKOUT_PAT }}

      - uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5
        with:
          dotnet-version: "${{ env.DOTNET_VERSION }}"

      - run: dotnet format style

      - run: dotnet format analyzers

      - run: dotnet tool restore

      - run: dotnet csharpier format .

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          # File containing the version Spec of the version to use.  Examples: package.json, .nvmrc, .node-version, .tool-versions.
          # If node-version and node-version-file are both provided the action will use version from node-version.
          node-version-file: ".nvmrc"
          # Used to specify a package manager for caching in the default directory. Supported values: npm, yarn, pnpm.
          # Package manager should be pre-installed
          # Default: ''
          cache: "npm"

      - run: npm ci

      - run: npx prettier . --write

      - name: Verify Changed files
        uses: tj-actions/verify-changed-files@a1c6acee9df209257a246f2cc6ae8cb6581c1edf # v20
        id: verify-changed-files

      - name: Fail job if any files changed
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        run: exit 1

      - uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7
        if: success() || failure()
        with:
          commit_author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
          commit_message: "chore(pre-commit): apply automatic changes"

  csharpier:
    needs: format

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5
        with:
          dotnet-version: "${{ env.DOTNET_VERSION }}"

      - run: dotnet tool restore

      - run: dotnet csharpier check .

  dotnet-format:
    needs: format

    runs-on: ubuntu-latest

    strategy:
      matrix:
        subcommand: ["style", "analyzers"]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5
        with:
          dotnet-version: "${{ env.DOTNET_VERSION }}"

      - run: dotnet format ${{ matrix.subcommand }} --verify-no-changes

  prettier:
    needs: format

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          # File containing the version Spec of the version to use.  Examples: package.json, .nvmrc, .node-version, .tool-versions.
          # If node-version and node-version-file are both provided the action will use version from node-version.
          node-version-file: ".nvmrc"
          # Used to specify a package manager for caching in the default directory. Supported values: npm, yarn, pnpm.
          # Package manager should be pre-installed
          # Default: ''
          cache: "npm"

      - run: npm ci

      - run: npx prettier . --check

  test-shared:
    needs: [format, csharpier, dotnet-format, prettier]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5
        with:
          dotnet-version: "${{ env.DOTNET_VERSION }}"

      - run: dotnet test test/Common/AdventOfCode.Common.Test/AdventOfCode.Common.Test.csproj

  test-year:
    needs: [format, csharpier, dotnet-format, prettier]

    runs-on: ubuntu-latest

    strategy:
      matrix:
        project-year: ["2015", "2018", "2019", "2022", "2023", "2024"]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5
        with:
          dotnet-version: "${{ env.DOTNET_VERSION }}"

      - run: dotnet test test/Solvers/AdventOfCode.Y${{ matrix.project-year }}.Test/AdventOfCode.Y${{ matrix.project-year }}.Test.csproj
